# 数据处理

## 导入相关的包

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [4]:
%time
# read data
df_data = pd.read_csv("../raw_data/d_train.csv",encoding="gbk")
#rename clumns's name
rename_dict = {"性别":"gender","年龄":"age","体检日期":"date","血糖":"blood_sugar"}
re_rename_dict = {v:k for k,v in zip(rename_dict.keys(),rename_dict.values())}
df_data.rename(columns=rename_dict,inplace=True)
features = [x for x in list(df_data.columns) if x not in ["gender","age","date","blood_sugar","id"]]
fea_rename = { v:"feature_" + str(k) for k,v in enumerate(features)}
re_fea_rename = {v:k for k, v in zip(fea_rename.keys(), fea_rename.values())}
df_data["gender"] = df_data.gender.apply(lambda x: 1 if x == "男" else 0)
df_data.rename(columns=fea_rename,inplace=True)

Wall time: 0 ns

In [5]:
df_data.head(10)

,id,gender,age,date,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,...,feature_28,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,blood_sugar
0,1,1,41,12/10/2017,24.96,23.10,99.59,20.23,76.88,49.60,...,166.0,9.9,17.4,0.164,54.1,34.2,6.5,4.7,0.6,6.06
1,2,1,41,19/10/2017,24.57,36.25,67.21,79.00,79.43,47.76,...,277.0,9.2,10.3,0.260,52.0,36.7,5.8,4.7,0.8,5.39
2,3,1,46,26/10/2017,20.82,15.23,63.69,38.17,86.23,48.00,...,241.0,8.3,16.6,0.199,48.1,40.3,7.7,3.2,0.8,5.59
3,4,0,22,25/10/2017,14.99,10.59,74.08,20.22,70.98,44.02,...,252.0,10.3,10.8,0.260,41.7,46.5,6.7,4.6,0.5,4.30
4,5,0,48,26/10/2017,20.07,14.78,75.79,22.72,78.05,41.83,...,316.0,11.1,14.0,0.350,56.6,33.1,9.1,0.6,0.6,5.42
5,6,0,74,18/10/2017,23.72,22.59,81.23,23.35,76.46,45.85,...,249.0,8.5,17.0,0.211,42.9,47.0,7.1,2.1,1.0,5.97
6,7,1,31,21/09/2017,24.97,25.53,109.03,65.42,80.82,46.40,...,246.0,10.8,13.3,0.270,52.9,32.0,11.3,3.1,0.7,5.11
7,8,1,55,21/09/2017,37.32,40.03,88.49,25.15,74.17,41.63,...,282.0,10.5,13.0,0.300,52.8,36.9,6.6,2.8,0.9,5.94
8,9,1,39,16/10/2017,21.70,39.17,102.91,67.09,76.12,49.31,...,275.0,9.8,11.4,0.270,53.1,35.9,7.3,3.3,0.4,5.66
9,10,0,35,10/10/2017,18.89,15.79,78.21,25.75,75.94,46.64,...,247.0,10.7,12.6,0.270,65.6,27.3,5.4,1.0,0.7,5.48

In [6]:
df_data.drop(["feature_15","feature_16","feature_17","feature_18","feature_19"],axis=1,inplace=True)

In [7]:
df_data.shape

(5642, 37)

In [10]:
df_data[].columns.dtype_str

'object'

In [6]:
df_data.drop(df_data[df_data["age"] < 20].index, inplace=True)

In [7]:
df_data.drop(df_data[df_data["age"] > 85].index,inplace=True)

In [8]:
df_data.drop(df_data[df_data["blood_sugar"] > 15].index,inplace=True)

In [9]:
# 3 num's log smoothness
df_data["blood_sugar"] = np.log(df_data["blood_sugar"])
df_data["blood_sugar"] = np.log(df_data["blood_sugar"])
df_data["blood_sugar"] = np.log(df_data["blood_sugar"])
df_data["blood_sugar"] = - df_data["blood_sugar"]

In [10]:
df_data.shape

(5606, 37)

In [11]:
df_data.blood_sugar.describe()

count    5606.000000
mean        0.659132
std         0.172299
min         0.007015
25%         0.579548
50%         0.672724
75%         0.763972
max         2.164343
Name: blood_sugar, dtype: float64

In [12]:
df_data_des = df_data.describe()

In [13]:
re_rename_dict = {v:k for k,v in zip(rename_dict.keys(),rename_dict.values())}
re_fea_rename = {v:k for k, v in zip(fea_rename.keys(), fea_rename.values())}
re_fea_rename.update(re_rename_dict)
print(re_fea_rename)

{'feature_0': '*天门冬氨酸氨基转换酶', 'feature_1': '*丙氨酸氨基转换酶', 'feature_2': '*碱性磷酸酶', 'feature_3': '*r-谷氨酰基转换酶', 'feature_4': '*总蛋白', 'feature_5': '白蛋白', 'feature_6': '*球蛋白', 'feature_7': '白球比例', 'feature_8': '甘油三酯', 'feature_9': '总胆固醇', 'feature_10': '高密度脂蛋白胆固醇', 'feature_11': '低密度脂蛋白胆固醇', 'feature_12': '尿素', 'feature_13': '肌酐', 'feature_14': '尿酸', 'feature_15': '乙肝表面抗原', 'feature_16': '乙肝表面抗体', 'feature_17': '乙肝e抗原', 'feature_18': '乙肝e抗体', 'feature_19': '乙肝核心抗体', 'feature_20': '白细胞计数', 'feature_21': '红细胞计数', 'feature_22': '血红蛋白', 'feature_23': '红细胞压积', 'feature_24': '红细胞平均体积', 'feature_25': '红细胞平均血红蛋白量', 'feature_26': '红细胞平均血红蛋白浓度', 'feature_27': '红细胞体积分布宽度', 'feature_28': '血小板计数', 'feature_29': '血小板平均体积', 'feature_30': '血小板体积分布宽度', 'feature_31': '血小板比积', 'feature_32': '中性粒细胞%', 'feature_33': '淋巴细胞%', 'feature_34': '单核细胞%', 'feature_35': '嗜酸细胞%', 'feature_36': '嗜碱细胞%', 'gender': '性别', 'age': '年龄', 'date': '体检日期', 'blood_sugar': '血糖'}

In [14]:
# get describe for features
# df_data_des.rename(columns=re_fea_rename,inplace=True)
# df_data_des.to_excel('./feature_describe.xlsx',encoding='gbk')

In [15]:
# del the row that have nan
# df_data_without_nan = df_data.dropna(axis=0,how='any')
# df_data_without_nan.rename(columns=re_fea_rename,inplace=True)
# df_data_without_nan.to_csv('./base_train.csv',encoding='gbk',index=False)

In [16]:
df_data[df_data['feature_28'].isnull().values == True]

,id,gender,age,date,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,...,feature_28,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,blood_sugar
202,204,0,34,26/10/2017,19.58,14.74,83.76,15.30,82.36,44.77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.646852
1145,1161,1,34,28/09/2017,27.63,24.97,64.01,20.26,78.14,51.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.622496
2313,2344,1,49,15/09/2017,44.88,57.78,126.32,184.68,80.81,45.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.583105
2445,2488,0,50,18/09/2017,24.18,27.07,70.31,37.85,77.96,46.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.558863
2481,2524,1,46,18/09/2017,12.59,21.76,109.50,38.51,75.80,46.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013898
2610,2656,0,65,19/09/2017,50.87,58.53,94.12,61.35,79.06,45.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.449069
3366,3422,1,48,21/09/2017,24.96,31.70,80.76,29.43,73.49,44.87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.597658
3473,3530,1,57,22/09/2017,52.65,47.56,106.01,152.74,80.55,50.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.091968
3480,3537,0,45,22/09/2017,26.35,12.33,65.90,81.66,72.88,45.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.745198
3541,3601,0,80,22/09/2017,23.43,20.43,107.78,34.27,77.18,41.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.775060
4258,4330,1,51,26/10/2017,24.30,21.93,89.62,34.86,73.64,45.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.705049
4565,4642,0,40,27/09/2017,29.70,31.93,78.84,27.44,76.92,44.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.825414
5124,5206,1,55,28/09/2017,46.96,79.96,70.52,71.61,81.87,48.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.305340
5240,5322,0,60,29/09/2017,22.50,17.32,69.95,11.72,77.47,45.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.769482
5270,5352,1,39,29/09/2017,18.85,32.14,81.83,40.17,73.92,44.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.504222
5271,5353,0,39,29/09/2017,18.98,13.75,69.10,16.03,77.78,44.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.780707

# 缺失值模型训练以及填充缺失值

## 导入相关的包

In [17]:
from sklearn.ensemble import RandomForestRegressor

In [18]:
base_train = pd.read_csv("./base_train.csv")

In [20]:
rf_test = df_data[df_data["feature_8"].isnull().values == True]

In [21]:
cols = list(rf_test.columns)
print(cols)
cols_FT = list(rf_test.isnull().any())
[k for k,v in zip(cols, cols_FT) if v == False]

['id', 'gender', 'age', 'date', 'feature_0', 'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7', 'feature_8', 'feature_9', 'feature_10', 'feature_11', 'feature_12', 'feature_13', 'feature_14', 'feature_20', 'feature_21', 'feature_22', 'feature_23', 'feature_24', 'feature_25', 'feature_26', 'feature_27', 'feature_28', 'feature_29', 'feature_30', 'feature_31', 'feature_32', 'feature_33', 'feature_34', 'feature_35', 'feature_36', 'blood_sugar']

['id',
 'gender',
 'age',
 'date',
 'feature_20',
 'feature_21',
 'feature_22',
 'feature_23',
 'feature_24',
 'feature_25',
 'feature_26',
 'feature_27',
 'feature_28',
 'feature_29',
 'feature_30',
 'feature_31',
 'feature_32',
 'feature_33',
 'feature_34',
 'feature_35',
 'feature_36',
 'blood_sugar']

In [38]:
df_nan_data = pd.read_csv('./train_with_nan.csv',encoding="gbk")
c = "feature_0"
rf_pre_data = df_nan_data[df_nan_data[c].isnull().values == True]
no_index = [x for x in list(df_nan_data.index) if x not in list(rf_pre_data.index)]
rf_no_pre_data = df_nan_data.ix[no_index,:]
all_rf_data = pd.concat([rf_no_pre_data, rf_pre_data],axis=0)
no_nan_cols = [k for k,v in zip(list(rf_pre_data.columns),list(rf_pre_data.isnull().any())) if
               v == False and k not in ['id',"date","blood_sugar"]]
mean = round(df_nan_data[c].mean(),3)
trains = np.array(base_train[no_nan_cols])
labels = np.array(base_train[c])
tests = np.array(rf_pre_data[no_nan_cols])
rf = RandomForestRegressor()
rf.fit(trains, labels)
rf_pre_data[c] = [(2 * x * mean)/ (x + mean) for x in list(rf.predict(tests))]
df_nan_data.ix[rf_pre_data.index,c] = rf_pre_data[c]

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [39]:
df_nan_data = pd.read_csv('./train_with_nan.csv',encoding="gbk")
print(round(df_nan_data[c].mean(),3))
print(df_nan_data.ix[rf_pre_data.index,c])
df_nan_data.ix[rf_pre_data.index,c] = rf_pre_data[c]
print(rf_pre_data[c])
print(df_nan_data.ix[rf_pre_data.index,c])
print(df_nan_data[c])

24.924
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
15     NaN
16     NaN
40     NaN
64     NaN
65     NaN
66     NaN
67     NaN
69     NaN
70     NaN
71     NaN
72     NaN
74     NaN
75     NaN
76     NaN
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
122    NaN
211    NaN
212    NaN
213    NaN
214    NaN
        ..
1618   NaN
1619   NaN
1620   NaN
1621   NaN
1623   NaN
1627   NaN
1629   NaN
1630   NaN
1631   NaN
1632   NaN
1636   NaN
1637   NaN
1638   NaN
1639   NaN
1640   NaN
1643   NaN
1646   NaN
1648   NaN
1651   NaN
1652   NaN
1653   NaN
1654   NaN
1656   NaN
1660   NaN
1661   NaN
1662   NaN
1689   NaN
1691   NaN
1692   NaN
1693   NaN
Name: feature_0, Length: 1216, dtype: float64
1       27.235264
2       25.964197
3       28.093670
4       24.852797
5       25.457817
6       25.307507
15      30.029031
16      23.122000
40      26.852302
64      23.685909
65      22.225964
66      29.260889
67      26.644004
69      26.589706
70      26.879086
71      20.662857
72      23.752399
74      25.642191
75      24.236020
76      26.048836
117     25.640305
118     23.616863
119     22.320824
120     25.283246
121     23.794536
122     24.999769
211     25.927870
212     30.431072
213     24.339612
214     23.861563
          ...
1618    27.243492
1619    26.524650
1620    27.704390
1621    22.553649
1623    25.009208
1627    27.305015
1629    26.875263
1630    25.790771
1631    24.393441
1632    27.622391
1636    28.095193
1637    25.867388
1638    28.540993
1639    23.975745
1640    26.801114
1643    26.532966
1646    25.611498
1648    27.935207
1651    24.630074
1652    27.580565
1653    25.606296
1654    23.516237
1656    26.373497
1660    31.408849
1661    24.538632
1662    27.835818
1689    26.685101
1691    25.480778
1692    27.939844
1693    23.451341
Name: feature_0, Length: 1216, dtype: float64
1       27.235264
2       25.964197
3       28.093670
4       24.852797
5       25.457817
6       25.307507
15      30.029031
16      23.122000
40      26.852302
64      23.685909
65      22.225964
66      29.260889
67      26.644004
69      26.589706
70      26.879086
71      20.662857
72      23.752399
74      25.642191
75      24.236020
76      26.048836
117     25.640305
118     23.616863
119     22.320824
120     25.283246
121     23.794536
122     24.999769
211     25.927870
212     30.431072
213     24.339612
214     23.861563
          ...
1618    27.243492
1619    26.524650
1620    27.704390
1621    22.553649
1623    25.009208
1627    27.305015
1629    26.875263
1630    25.790771
1631    24.393441
1632    27.622391
1636    28.095193
1637    25.867388
1638    28.540993
1639    23.975745
1640    26.801114
1643    26.532966
1646    25.611498
1648    27.935207
1651    24.630074
1652    27.580565
1653    25.606296
1654    23.516237
1656    26.373497
1660    31.408849
1661    24.538632
1662    27.835818
1689    26.685101
1691    25.480778
1692    27.939844
1693    23.451341
Name: feature_0, Length: 1216, dtype: float64
0       20.070000
1       27.235264
2       25.964197
3       28.093670
4       24.852797
5       25.457817
6       25.307507
7       38.810000
8       17.060000
9       31.930000
10      15.850000
11      23.400000
12      42.940000
13      46.680000
14      26.650000
15      30.029031
16      23.122000
17      24.730000
18      22.300000
19      32.010000
20      40.320000
21      26.380000
22      27.800000
23      32.080000
24      21.720000
25      36.850000
26      30.710000
27      23.460000
28      28.500000
29      25.040000
          ...
1665    24.430000
1666    17.980000
1667    22.360000
1668    37.380000
1669    26.450000
1670    17.950000
1671    21.210000
1672    19.520000
1673    16.020000
1674    19.160000
1675    67.310000
1676    15.690000
1677    17.410000
1678    18.310000
1679    26.280000
1680    26.240000
1681    22.980000
1682    19.730000
1683    18.420000
1684    28.720000
1685    23.170000
1686    19.180000
1687    18.790000
1688    19.380000
1689    26.685101
1690    17.040000
1691    25.480778
1692    27.939844
1693    23.451341
1694    20.520000
Name: feature_0, Length: 1695, dtype: float64

In [40]:
df_test = pd.read_csv('./d_test_A.csv',encoding='gbk')
rename_dict = {"性别":"gender","年龄":"age","体检日期":"date","血糖":"blood_sugar"}
re_rename_dict = {v:k for k,v in zip(rename_dict.keys(),rename_dict.values())}
df_test.rename(columns=rename_dict,inplace=True)
features = [x for x in list(df_test.columns) if x not in ["gender","age","date","blood_sugar","id"]]
fea_rename = { v:"feature_" + str(k) for k,v in enumerate(features)}
re_fea_rename = {v:k for k, v in zip(fea_rename.keys(), fea_rename.values())}
df_test["gender"] = df_test.gender.apply(lambda x: 1 if x == "男" else 0)
df_test.rename(columns=fea_rename,inplace=True)
df_test.drop(["feature_15","feature_16","feature_17","feature_18","feature_19"],axis=1,inplace=True)

In [42]:
df_test.to_csv('./pre_test.csv',index=False,encoding='gbk')